@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');

html { height: 100%; width: 100%;}
body { height: 100%; width: 100%;  cursor:context-menu;}
/* overflow-x:hidden; */
body section {height: 100%; min-height: 700px;}
.wrap {max-width: 1000px; width: 100%; margin: 0 auto;}
.aboutme2, .work3, .contact4 { height: 100%; width: 100%; margin: auto; display: flex; align-items: center; justify-content: center;}

/* 메인 */
.main1 { position: relative; height: 100%;}
	.main1 .tops {display: flex; justify-content:space-between; align-items:center; }
	.main1 .logo { width: 150px; margin: 2rem 0 0 2rem; cursor: pointer;}


	.tag-fix { cursor: pointer;
		position: absolute; top: 9%; right: 0%; z-index: 9999; overflow: hidden;}

	.tags {
		width: 150px;
		height: 46px;
		text-align: center;
		transition: all 0.3s;
		transform: translateX(100px);
	}
	.tag {
		border-top: 24px solid rgb(190, 39, 39);
		border-right: 24px solid rgb(190, 39, 39);
		border-bottom: 24px solid rgb(190, 39, 39);
		border-left: 24px solid  transparent;
		border-radius: 5px;
	}
	.tag-bar {color: #fff; position: absolute; top: 5%; right: 48%; z-index: 9999; font-size: 1.05rem; padding: 0.5rem;}

	.navis-hidden {
		position: absolute;  
		width: 100%; height: 100%; 
		overflow: hidden;
		right: 0; left: 0; top:0; z-index:99995;  
		}

	.navis-overlay {
		cursor: url(../img/close.cur), pointer; 
		background-color: rgba(44, 23, 23, 0.404); 
		width: 100%; height: 100%; z-index:99997;
		transform: translateX(100%); transition: all 0.5s;}

		
	.navis-wrap {
		position: absolute; height: 100%; max-width: 500px; width: 100%;
		background-color: rgb(138, 43, 40); 
		z-index:99997; right: 0; top:0; overflow: hidden; padding: 3rem;
		transform: translateX(100%); transition: all 0.5s;}

	.logo-white {
		max-width: 220px; min-width: 150px; width: 25vh; margin: 4vh 1rem 4vh 1rem;
	}

	.main1 .navis {
		color: #888; margin:4rem;  
		cursor: pointer; line-height: 34rem; 
		position: absolute; top: 18%; left: 5%;
		z-index: 99999;
		}

	.main1 .nav-bts { cursor: pointer;}

	.main1 .icons { 
		display: flex; align-items: center; justify-content: space-between; 
		position: absolute; bottom: 18%; 
		color: #fff; margin: 2vh 5vh; 
		}

	.main1 .icon {font-size: 3vh;
		margin-right: 1.5rem; transition: all 0.3s; cursor: pointer;
		}

	.main1 .icon:hover { color: rgb(212, 94, 90); }

	.main1 .close-bt {width: 50px; height: 50px; 
		background-color: rgb(43, 6, 6); 
	position: absolute; z-index: 99998; bottom: 7%; 
	text-align: center; border-radius: 50%; left: 0; right: 0; margin: 0 auto;
		font-size: 1.5rem; font-weight: bold; line-height: 50px;
}
.side-close {margin-bottom: 0.5rem; }
.side-close rect {fill: #FFF;}

	.main1 .nav-tit { 
		font-size: 4vh; font-weight: 600; line-height: 5vh; 
		transition: all 0.3s; width: 100%; color: #FFF; 
		}
	
	.main1 .navs {position: relative; right: 0; margin: 3rem 0;}

	.main1 .navs:hover .nav-tit { 
		color: rgb(255, 255, 255); 
		text-shadow: 3px 2px 3px rgb(87, 18, 18);
		}

	.main1 .wrap-img {
		position: absolute; width: 55%; 
		top: -4%; right: -9%; 
		opacity: 0.2;
		}

	.main1 .wrap-img2 {
		position: absolute; width: 80%; bottom: -10%; left: -15%; 
		transform: rotate(25deg); opacity: 0.3;
		}

	.main1 .main-gifs { position: absolute; top: 0; width: 100%; height: 100%;}

	.main1 .gifs { height: 100%;}

	.main1 .gif { 
		display: flex; align-items: center; justify-content: center; 
		height: 100%;
		}

	.main1 .gif img {
		transition: all 0.4s; filter: contrast(120%) brightness(0.95); 
		width: 40%; min-width: 350px;
		}

	.main1 .gif img:hover {filter: contrast(95%) brightness(1.1);}


/* 내 소개 */
.aboutme2 { height: 100%; position: relative;}
.aboutme2-all { max-width: 1200px; width: 100%;}
	.aboutme2 .sides { width: 100%;  }
	.aboutme2 .si1 {
		position: absolute; max-width: 315px; max-height: 500px; 
		width: 100%; height: 100%; top: 45%; left: -2%; 
		overflow: hidden;
		}
		.aboutme2 .si1 .pic1 {
			max-width: 230px; min-width: 130px; width: 55vw; 
			position: absolute; z-index: 99; 
			top: 10%; left: -15%;
			}
		.aboutme2 .si1 .pic2 {max-width: 220px; min-width: 100px; width: 50vw;}


	.aboutme2 .si2 {
		position: absolute; 
		max-width: 315px; max-height: 500px; 
		width: 100%; height: 100%; 
		right: 0%; top: -13%;  overflow: hidden;
		}
		.aboutme2 .si2 .pic2 {
		max-width: 320px; min-width: 220px; width: 70vw; 
		position: relative; z-index: 98; 
		top: 10%; right: -30%;
		}
		.aboutme2 .si2 .pic1 {
			max-width: 170px; min-width: 120px; width: 35vw; 
			position: absolute; z-index: 99; 
			top: 15%; right: 18%;
		}

	.aboutme2 .about-me {height: 100%; width: 100%;}
	.aboutme2 .mes {position: relative; width: 100%;}
	.aboutme2 .me-1-2 { transition: all 1s;
		margin: 0 auto; background-color: rgba(255, 255, 255, 0.705); 
		position: relative; width: 90%; z-index: 999; 
		padding: 3rem 0;
		}

	.aboutme2 .Name {
		max-width: 450px; min-width: 250px; width: 100%; margin: 0 auto; 
		transition: all 0.4s; line-height: 20vw; 
		font-family: 'Yellowtail', cursive; 
		letter-spacing: 2px; font-size:20vw; 
		padding: 0 3vw; color: rgb(139, 23, 23);
		}
	.aboutme2 .Job { 
		font-size:4vw; padding-right: 1rem; 
		color: #888888; letter-spacing: 1.3px; 
		}	
	.aboutme2 .SubTit {
		font-size:1.2rem; padding-right: 1rem; 
		color: #c77474;
		}

	.abouts {text-align: center; width: 100%;}
	.about-main {margin-top: 1rem; margin-bottom: 2rem;} 
	.about-conts { 
		text-align: left; line-height: 2.5rem; 
		width: 80%; margin: 0 auto; 
		display: flex; align-items: center; justify-content: space-between;
		}
	.about-cont1 {font-family: 'Yellowtail', cursive; font-size: 2.4vh}
	.about-conts .about-cont1 { padding-right: 2.7rem;}
	
	.click {
		display: none; background-color: #ddd; 
		border-radius: 50%; width: 50px; height: 50px;
		color: #fff; font-size: 0.65rem; 
		line-height: 50px; margin: 0 auto;
		position: absolute; bottom: -8%; left: 0; right: 0; 
		text-align: center; cursor: pointer;
		transition: all 0.4s;
		}
	.click:hover {transform: scale(1.15); background-color: #bbb;}

	#abme-prev {display: none;}

	.aboutme2 .me-1  {margin: 0 auto;  max-width: 380px; width: 100%; z-index: 999; transition: all 1s;}
	.aboutme2 .me-1position  {height: 100%;}
	.aboutme2 .me-1 .about-main {padding-top: 5rem;}

	.aboutme2 .me-2  {display: none;  transition: all 1s; width: 100%;}
	.aboutme2 .me-2 .skills {margin-bottom: 2.5rem;}
	.aboutme2 .me-2 .program { display: flex; align-items: flex-start; justify-content: space-between; margin-bottom: 2.5rem;}
	.aboutme2 .me-2 .prog { position: relative; width: 55px; padding: 0 0.6rem;}
	.aboutme2 .me-2 .prog span {color: #666; position:absolute; left: 0%; right: 0; bottom: -60%; font-size: 0.7em; text-align: center;}
	.aboutme2 .me-2 .prog img {filter: opacity(0.8) saturate(0.7); transition: all 0.2s;}
	.aboutme2 .me-2 .prog:hover img {filter: opacity(1) saturate(0.6); transform: scale(1.1);}

	.aboutme2 .me-3  {display: none; transition: all 1s; width: 80%;}
	.aboutme2 .me-3 .edus {margin-bottom: 3.5rem; font-size: 0.97rem;}
	.aboutme2 .me-3 .edu { display: flex; align-items: flex-start; justify-content: space-between; line-height: 2rem;}
	
	.aboutme2 .me-3 .certi {font-size: 0.97rem; display: flex; align-items: flex-start; justify-content: space-between; line-height: 2rem;}
	.aboutme2 .ski-tit,.aboutme2 .prog-tit, .aboutme2 .edu-tit, .aboutme2 .certi-tit 
	{font-size: 3rem;  font-family: 'Yellowtail', cursive; margin-bottom: 1rem; color: #aaa; transition: all 0.3s;}


	.aboutme2 .about-skill:hover .ski-tit,
	.aboutme2 .about-prog:hover .prog-tit, 
	.aboutme2 .about-edu:hover .edu-tit, 
	.aboutme2 .about-certi:hover .certi-tit 
	{color: #698b7a;}


	/* 작업 */
.work3 { position: relative; width: 100%; height: 100%;}
.work3-all { width: 100%;}
.works-all { background-color: rgba(255, 255, 255, 0.664); width: 90%; margin: 0 auto; position: relative; padding: 1rem 1rem 3rem 1rem; z-index: 9999; }
.work-pager {max-width: 1000px; width: 100%; height: 100%; margin: 0 auto;  }
	.works-chart { width: 100%; margin: 0 auto;}
	.charts {display: flex; justify-content: space-around; align-items: center;} 
	.chart {text-align: center; padding: 0.4rem; line-height: 1rem; min-height: 50px; font-size: 3vw; min-width:50px} 
	.chart:hover {background-color: #eee;}
	.works-cont { width: 100%; margin: 0 auto; max-height: 500px; position: relative;}
	.work3 .works { width: 200%; position: relative; display: flex; max-height: 500px; }
	.work3 .work {flex: 100% 1 1; position: relative; overflow: hidden;}
	.pager-prev,
	.pager-next {display: none; z-index: 999; cursor: pointer; position: absolute; width: 60px; height: 60px; color: #fff; text-shadow: 0 0 5px rgb(63, 63, 63); font-size: 2.5rem; line-height: 60px; text-align: center; top: 50%;  }
	.pager-prev {left: 0%;}
	.pager-next {right: 0%;}


	.work3 .work-img {width: 100%; transition: all 0.5s; max-height: 500px; cursor: pointer;}
	.work3 .work-img  img {transition: all 0.5s}
	/* .work3 .work-img:hover {filter: brightness(0.5);} */
	.work3 .works-tit {position: relative; padding: 0.5rem; margin: 2rem auto; max-width: 400px;}
	.work3 .tit-1 {font-size: 13vw; min-width: 300px; max-width: 400px;  width: 100%; font-weight: 600; color: #ddd; letter-spacing:3px;}
	.work3 .tit-2 {font-size: 14vw; font-weight: 500; min-width: 200px; max-width: 250px; width: 100%; color: rgba(150, 29, 29, 0.945); font-family: 'Yellowtail', cursive; letter-spacing:1.5px;
	position: absolute; top: 10%; right: -5%; transform: rotate(-3deg);}
	.work3 .work-cont {opacity: 0; transition: all 0.5s; position: absolute; z-index: 99998; text-align: right;
		bottom: 5%; right: 0%; padding: 1vw; color: #FFF; max-width: 550px; min-width: 300px;  width: 100%;}
	.work3 .cont-tit { font-weight: bold; font-size: 3vw; margin-bottom: 0.5rem; transition: all 1s;}
	.work3 .cont-desc { font-weight: 300; font-size: 2vw; transition: all 1s;}

	.work3 .side-rot-flower {transform: rotate(-10deg); transition: all 5s;}
	.work3 .si1 {position: absolute; max-width: 315px; max-height: 600px; width: 100%; height: 100%; top: 50%; right: 0%; overflow: hidden;}
	.work3 .si1 .pic2 { max-width: 300px; width: 50vw; position: relative; z-index: 98; top: 5%; right: -45%;}
	.work3 .si1 .pic1 { max-width: 310px; width: 60vw; position: absolute; z-index: 99; top: 5%; right: -12%;}

	.work3 .si2 {position: absolute; max-width: 270px; max-height: 180px; width: 100%; height: 100%; top: 5%; left: 4%;  overflow: hidden;}
	.work3 .si2 .pic1 { max-width: 240px; width: 40vw; position: absolute; z-index: 99; top: 10%; left: 10%;}



/* 연락 */
.contact4 {position: relative; width: 100%; height: 100%;}
.contact4 .contact-all {display: flex; align-items: flex-start; justify-content: space-between; padding: 2rem 3rem;}
.contact4 .cont-mails { width: 100%; margin-right: 1rem;}
.contact4 .cont-mail { margin-bottom: 1rem;}
.contact4 .cont-infors { width: 80%;}
.contact4 .infor-num {width: 100%; border: 1px solid #eee; padding: 1.5rem; margin-bottom: 1rem;}
.contact4 .infor-addr {width: 100%; border: 1px solid #eee; padding: 1.5rem;}
.contact4 .send-bts { text-align: right; margin-top: 1rem;}
.contact4 .send-bts  button{ margin-left: 0.5rem;}
.contact4 .contact-tit {font-size: 5rem; font-weight: 500; color: #578f6a; font-family: 'Yellowtail', cursive; letter-spacing:1.5px;}
.contact4 .contact-sides img { width: 90%;}
.contact4 .side-lt,
.contact4 .side-rt {position: absolute; }
.contact4 .side-lt {left: -3%;}
.contact4 .side-rt {right: 0%;}
#side-lt1-0 {top: 40%; left: -2%; z-index: 2;}
#side-lt1-1 {top: 5%; z-index: 2;}
#side-lt1-2 {top: 7%;}
#side-lt2 {bottom: -5%; left: -2%;}

#side-rt1-1 {bottom: 25%;  z-index: 2;}
#side-rt1-2 {top: 10%; right: 0%;}
#side-rt2-1 {bottom: -5%; right: 8%; z-index: 2;}
#side-rt2-2 {bottom: 0%; right: 0%;}

.bt-top {position:fixed; border-radius: 50%; background-color: #aaa; bottom: -4.5rem; right: 1.6rem; z-index: 999; color: white; transition: all 0.5s; cursor: pointer; padding: 1rem 1.5rem 1rem 1.5rem; }
.bt-top:hover {background-color: #ee705f; padding:0.8rem 1.5rem 1.2rem 1.5rem;}
.bt-top-show {bottom: -3rem; transform: translateY(-5rem)}


/* 576 ~ 767 - sm - 스마트폰 가로 */
@media screen and (min-width: 576px) {
.aboutme2 .Name {font-size:5rem; padding: 0 2vw;}	
.aboutme2 .Job {font-size:1.5rem; padding: 0 2vw;}	
.work3 .tit-1 {font-size: 4rem;}
.work3 .tit-2 {font-size: 4.5rem;} 
.work-pager {height: 500px;}
.chart {text-align: center; padding: 0.25rem; line-height: 1rem; min-height: 50px; font-size: 1rem; min-width:70px}
}
/* 768 ~ 991 - md - 태블릿 세로 */
@media screen and (min-width: 768px) {
	.work-pager {height: 600px;}
	.chart {text-align: center; padding: 0.25rem; line-height: 1rem; min-height: 50px; font-size: 1rem; min-width:100px}
	.aboutme2 .me-2, .aboutme2 .me-3  {display: none;}
}
/* 992 ~ 1199 - lg - 태블릿 가로 */
@media screen and (min-width: 992px) {
.about-cont1 {font-family: 'Yellowtail', cursive; font-size: 1.5rem;}
.works-chart { width: 150px; margin-right: 1.5rem;}
.chart {padding: 0.5rem 1rem; line-height: 3rem;}
.charts {display: block; }
.work-pager{display: flex; justify-content: space-between; overflow: hidden; }
.pager-prev,
.pager-next {display: block;}
.works-all { background-color: rgba(255, 255, 255, 0);}
.aboutme2 .si1 {top: 50%;}
.aboutme2 .si2 {top: 5%;}
.work3 .si1 {top: 30%;}
.work3 .si2 {top: 10%;}
.aboutme2 .me-1-2 {background-color: rgba(255, 255, 255, 0)} 
.work3 .cont-tit { font-size: 2.2rem; margin-bottom: 1rem;}
.work3 .cont-desc {font-size: 1.5rem;}
.work3 .work-cont {bottom: 4%;}
}

/* 1200 ~ - xl - PC */
@media screen and (min-width: 1300px) {
.click { display: block;}
.aboutme2 .me-1-2 {position: relative; width: 100%; display: flex; align-items: flex-start; justify-content: space-between;}
.aboutme2 .me-1-2 > div {height: 100%; min-height: 555px;}
.aboutme2 .Name {letter-spacing: 6px; font-size:6.3rem; padding: 0; line-height: 8rem;}
.aboutme2 .Job { font-size: 1.4rem; width: 385px; margin: 0 auto;}
.aboutme2 .me-1  {background-color: rgba(255, 255, 255, 0.705);  position: relative; margin: 0 auto;}
.aboutme2 .about-main  {position: absolute; bottom: 0; width: 100%;}
.aboutme2 .me-2  {background-color: rgba(255, 255, 255, 0); transform: translateX(-60px); opacity: 0; width: 85%; flex: 100% 1 1; margin: 0 2.5rem 0 2rem;}
.aboutme2 .me-3  { transform: translateX(-500px); opacity: 0; transition: all 1s; width: 85%;}
.work3 .work-cont {bottom: 5%;}
}





/* 애니메이션 */

.wrap-img {
	animation-name: wrapImg;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: right top;
} 


.side-left-ani1-1 {
	animation-name: leftAni1-1;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: left bottom;
}
.side-left-ani1-2 {
	animation-name: leftAni1-2;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: left bottom;
}

.side-right-ani1-1 {
	animation-name: rightAni1-1;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: right bottom;
}
.side-right-ani1-2 {
	animation-name: rightAni1-2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: right bottom;
}

.side-right-ani2-1 {
	animation-name: rightAni2-1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: right bottom;
}
.side-right-ani2-2 {
	animation-name: rightAni2-2;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: right bottom;
}

.side-left-ani2 {
	animation-name: leftAni2;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: center bottom;
}

@keyframes wrapImg {
	0% {transform: rotate(7deg);}
	50% {transform: rotate(10deg);}
	100% {transform: rotate(5deg);}
}
@keyframes leftAni1-1 {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(5deg);}
	100% {transform: rotate(-2deg);}
}
@keyframes leftAni1-2 {
	0% {transform: rotate(15deg);}
	100% {transform: rotate(0deg);}
}
@keyframes rightAni1-1 {
	0% {transform: rotate(4deg);}
	50% {transform: rotate(-4deg);}
	100% {transform: rotate(0deg);}
}
@keyframes rightAni1-2 {
	0% {transform: rotate(3deg);}
	50% {transform: rotate(-3deg);}
	100% {transform: rotate(0deg);}
}
@keyframes rightAni2-1 {
	0% {transform: rotate(3deg);}
	100% {transform: rotate(-2deg);}
}
@keyframes rightAni2-2 {
	0% {transform: rotate(-5deg);}
	100% {transform: rotate(0deg);}

}
@keyframes leftAni2 {
	0% {transform: rotate(-6deg);}
	100% {transform: rotate(2deg);}
}



