@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

html {
	height: 100%;
	width: 100%;
	cursor: default;
	
}
::selection { background-color: #e6d9d86b;}

body {
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	font-family: 'Nanum Gothic', sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* overflow-x:hidden; */
.sections {
	height: 100%;
	width: 100%;
	position: relative;
	/*overflow: hidden;*/
}

.section-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	white-space: nowrap;
}

section {
	flex: 100% 0 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.wrap {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}



.bt-prev, .bt-next {font-size: 2rem; font-weight: bold; position: absolute;  color: #ccc;  top: calc(50% - 25px); text-align: center; width: 50px; height: 50px; transition: all 0.5s; cursor: pointer; z-index: 99999;}
.bt-prev {left: 20px;}
.bt-next {right: 20px;}

.aboutme2,
.work3,
.contact4 {
	height: 100%;
	width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 메인 */
.main1 {
	position: relative;
	height: 100%;

}

.main-back {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url(../img/main-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(0.6);
	position: absolute;
	top: 0;
	z-index: -1;
}

.main-bars {
	max-width: 800px;
	min-width: 300px;
	width: 100%;
	height: 25px;
	position: fixed;
	bottom: 4%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	
	z-index: 10000;
}

.main-bars .bar-rounds{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	height: 20px;
	margin-bottom: 0.4rem;
}

.main-bars .bar-round{
	text-align: center;
	width: 20px;
}
.main-bars .round{
	width: 5px;
	height: 10px;
	border: 1px solid #fff;
	border-top: 5px solid rgb(145, 20, 20, 0.87);
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 3px solid transparent;
	transition: all 0.3s;
	text-align: center;
	margin: 0 auto;
	opacity: 0.7;
}

.bar-round span {
	font-size: 0.875rem;
	font-weight: bold;
	color: #aaa;
	opacity: 0;
	transition: all 0.3s;
}

.main-bars .main-bar{
	width: 100%; height: 100%;
	background-color: rgb(216, 216, 216)!important;
	overflow: hidden;
	border-radius: 5px;
	height: 4px;
}
.main-bars .main-bar-now {
	width: 2%;
	height: 100%;
	border-radius: 5px;
	background-color: rgba(145, 20, 20, 0.87);
	
}

.main-indexs {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* background-color: rgba(255, 255, 255, 0.411); */
	width: 600px;
	height: 170px;
	position: absolute;
	z-index: 99996;
	bottom: 32%;
	left: 2%;
	opacity: 0;
	transform: translateY(-20px);
	transition: all 0.5s;
	
}

.main-index {text-align: center; 
transition: all 0.6s;
color: #FFF;
cursor: pointer;}

.main-indexs .index-tit {font-size: 3.5rem; width: 90px; font-weight: bold;}
.main-indexs .index-line {width: 90px; height: 2px; background-color: #FFF; transition: all 0.6s;}
.main-indexs .index-sub {font-size: 1.1rem; margin-top: 1rem;;}

.main1 .tops {
	position: absolute;
	top: 18%;
	left: 3%;
}

.main1 .logo-white {
	width: 300px;
	cursor: pointer;
	transition: all 0.5s;
	

}
.main1 .hello {
	font-size: 1.4rem;
	letter-spacing: 1.5px;
	font-weight: bold;
	transition: all 0.5s;
	position: absolute;
	bottom: -30%;
	left: 10%;
	color: #fff;
	opacity: 0;
}


.tag-fix {
	cursor: pointer;
	position: fixed;
	top: 9%;
	right: 0%;
	z-index: 99999;
	overflow: hidden;
}

.tags {
	width: 150px;
	height: 48px;
	text-align: center;
	transition: all 0.3s;
	transform: translateX(100px);
}

.tag {
	border-top: 24px solid rgb(204, 17, 17);
	border-right: 24px solid rgb(204, 17, 17);
	border-bottom: 24px solid rgb(204, 17, 17);
	border-left: 24px solid transparent;
	border-radius: 5px;
}

.tag-bar {
	color: #fff;
	position: absolute;
	top: 9%;
	right: 48%;
	z-index: 99999;
	font-size: 1.1rem;
	padding: 0.5rem;
}

.navis-hidden {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	right: 0;
	left: 0;
	top: 0;
	
}

.navis-overlay {
	cursor: url(../img/close.cur), pointer;
	background-color: rgba(44, 23, 23, 0.466);
	width: 100%;
	height: 100%;
	z-index: 99997;
	transform: translateX(100%);
	transition: all 0.5s;
}


.navis-wrap {
	position: absolute;
	height: 100%;
	max-width: 500px;
	width: 100%;
	background-color: rgb(138, 43, 40);
	z-index: 99997;
	right: 0;
	top: 0;
	overflow: hidden;
	padding: 3rem;
	transform: translateX(100%);
	transition: all 0.5s;
}

.navis-wrap .logo-white {
	max-width: 220px;
	min-width: 150px;
	width: 25vh;
	margin: 4vh 1rem 4vh 1rem;
}

.zees-1 {
	animation: letter-animation 3s ease-in-out forwards;
	animation-delay: 0.4s;
}

.zees-2 {
	animation: letter-animation 1.5s ease-in-out forwards;
	animation-delay: 1.3s;
}

.zees-1-Out {
	animation: letter-animation-Out 2s ease-in-out;
}

.zees-2-Out {
	animation: letter-animation-Out 2s ease-in-out;
}

.abme-1 {
	animation: letter-animation 3s ease-in-out;
}

@keyframes letter-animation {
	0% {
		stroke-dashoffset: 2600;
		stroke-opacity: 0;
	}

	40% {
		stroke-opacity: 1;
	}

	100% {
		stroke-dashoffset: 0;

	}
}

@keyframes letter-animation-Out {
	0% {
		stroke-dashoffset: 50;
	}

	60% {
		stroke-dashoffset: 2600;
	}

	100% {
		stroke-dashoffset: 2600;
		stroke-opacity: 0;
	}
}

.navis-hidden .navis {
	color: #888;
	margin: 5rem 4rem 4rem 4rem;
	cursor: pointer;
	line-height: 32rem;
	position: absolute;
	top: 18%;
	left: 5%;
	z-index: 99999;
}

.navis-hidden .nav-bts {
	cursor: pointer;
}

.navis-hidden .icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: 18%;
	color: #fff;
	margin: 2vh 5vh;
}

.navis-hidden .icon {
	font-size: 3vh;
	margin-right: 1.5rem;
	transition: all 0.3s;
	cursor: pointer;
}

.navis-hidden .icon:hover {
	color: rgb(212, 94, 90);
}

.navis-hidden .close-bt {
	width: 50px;
	height: 50px;
	background-color: rgb(43, 6, 6);
	position: absolute;
	z-index: 99998;
	bottom: 5%;
	text-align: center;
	border-radius: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 55px;
}

.side-close {
	margin-bottom: 0.5rem;
}

.side-close rect {
	fill: #FFF;
}

.navis-hidden .nav-tit {
	font-size: 4vh;
	font-weight: 600;
	line-height: 5vh;
	transition: all 0.3s;
	width: 100%;
	color: #FFF;
}

.navis-hidden .navs {
	position: relative;
	right: 0;
	margin: 3rem 0;
}

.navis-hidden .navs:hover .nav-tit {
	color: rgb(255, 255, 255);
	text-shadow: 3px 2px 3px rgb(87, 18, 18);
}

.navis-hidden .wrap-img {
	position: absolute;
	width: 55%;
	top: -4%;
	right: -9%;
	opacity: 0.2;
}

.navis-hidden .wrap-img2 {
	position: absolute;
	width: 80%;
	bottom: -10%;
	left: -15%;
	transform: rotate(25deg);
	opacity: 0.3;
}


/* 내 소개 */
.aboutme2 {
	height: 100%;
	position: relative;
}

.aboutme2-all {
	max-width: 1200px;
	width: 100%;
	margin: auto;
	height: 100%;
}

.aboutme2 .sides {
	width: 100%;
}

.aboutme2 .si1 {
	position: absolute;
	max-width: 315px;
	max-height: 500px;
	width: 100%;
	height: 100%;
	top: 50%;
	left: -2%;
	overflow: hidden;
}

.aboutme2 .si1 .pic1 {
	max-width: 230px;
	min-width: 130px;
	width: 55vw;
	position: absolute;
	z-index: 99;
	top: 10%;
	left: -15%;
}

.aboutme2 .si1 .pic2 {
	max-width: 220px;
	min-width: 100px;
	width: 50vw;
}


.aboutme2 .si2 {
	position: absolute;
	max-width: 315px;
	max-height: 500px;
	width: 100%;
	height: 100%;
	right: 0%;
	top: 5%;
	overflow: hidden;
}

.aboutme2 .si2 .pic2 {
	max-width: 320px;
	min-width: 220px;
	width: 70vw;
	position: relative;
	z-index: 98;
	top: 10%;
	right: -30%;
}

.aboutme2 .si2 .pic1 {
	max-width: 170px;
	min-width: 120px;
	width: 35vw;
	position: absolute;
	z-index: 99;
	top: 15%;
	right: 18%;
}

.aboutme2 .about-me {
	height: 100%;
	width: 100%;

}

.aboutme2 .mes {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 5% 0;
}

.aboutme2 .me-1-2 {
	transition: all 1s;
	margin: auto;
	padding:1rem;
	background-color: rgba(255, 255, 255, 0.705);
	position: relative;
	z-index: 999;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.aboutme2  .about-skill-prog {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.aboutme2 .title {
	width: 100%;
	margin: 0 auto;
	transition: all 0.4s;
	font-family: 'Yellowtail', cursive;
	letter-spacing: 2px;
	font-size: 6rem;
	text-align: center;
	color: rgb(139, 23, 23);
	margin-bottom: 5rem;
}


.aboutme2 .SubTit {
	font-size: 1.2rem;
	padding-right: 1rem;
	color: #c77474;
}

.abouts {
	text-align: center;
	width: 100%;
}

.about-main {
	margin-bottom: 2rem;
}

.about-main .cont {margin-bottom: 0.5rem;}
.about-main .name {font-size: 1.5rem; font-weight: bold;}

.aboutme2 .me-1 {
	margin: 0 auto;
	max-width: 380px;
	width: 100%;
	z-index: 999;
	transition: all 1s;
	text-align: center;
}

.aboutme2 .me-1position {
	height: 100%;
}


.aboutme2 .me-2 {
	transition: all 1s;
	width: 100%;
	padding: 1rem;

}

.me-2 .about-pr{
width: 700px; white-space: normal;
font-size: 0.8rem; letter-spacing: 1.2px;
color: #666; margin-left: 1.5rem;
}

.aboutme2 .me-2 .skills {
	margin-bottom: 2.5rem;
}

.aboutme2 .me-2 .program {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	overflow: hidden;
	flex-wrap: wrap;
	transition: all 1s;
	padding: 1.5rem;
	width: 230px;
	height: 280px;
	border : 1px solid #fff
	
}

.aboutme2 .me-2 .prog {
	position: relative;
	width: 20px;
	flex: 35% 0 1;
	padding:0.3rem;
	padding-top:0.5rem;

}

.aboutme2 .me-2 .prog span {
	color: #666;
	position: absolute;
	left: 0%;
	right: 0;
	bottom: -20%;
	font-size: 0.7em;
	text-align: center;
}

.aboutme2 .me-2 .prog img {
	filter: opacity(0.8) saturate(0.7);
	transition: all 0.3s;
}

.aboutme2 .me-2 .prog:hover img {
	filter: opacity(1) saturate(0.6);
	transform: scale(1.1);
}


.aboutme2 .ski-tit,
.aboutme2 .prog-tit {
	font-size: 3rem;
	font-family: 'Yellowtail', cursive;
	margin-bottom: 1rem;
	color: #aaa;
	transition: all 0.3s;
}


.aboutme2 .about-skill:hover .ski-tit,
.aboutme2 .about-prog:hover .prog-tit {
	color: #698b7a;
}


/* 작업 */
.work3 {
	position: relative;
	width: 100%;
	height: 100%;
}

.work3-all {
	width: 100%;
	height: 100%;
}

.works-all {
	width: 90%;
	height: 100%;
	margin: auto;
	position: relative;
	padding: 1rem 1rem 3rem 1rem;
	z-index: 9999;
}

/* .work3 .work-img:hover {filter: brightness(0.5);} */
.work3 .works-tit {
	position: relative;
	padding: 0.5rem;
	margin: 4rem auto 3rem auto;
	max-width: 400px;
	height: 145px;
	
}

.work3 .tit-1 {
	font-size: 4rem;
	min-width: 300px;
	max-width: 500px;
	width: 100%;
	font-weight: 600;
	color: #ddd;
	letter-spacing: 3px;
	text-align: left;
}

.work3 .tit-2 {
		font-size: 4.5rem;
		font-weight: 500;
		min-width: 200px;
		max-width: 250px;
		width: 100%;
		color: rgba(150, 29, 29, 0.945);
		font-family: 'Yellowtail', cursive;
		letter-spacing: 1.5px;
		position: absolute;
		top: 10%;
		right: -5%;
		transform: rotate(-3deg);
		translate: all 1s;
	}
.work3 .tit-3 {
	font-size: 4.5rem;
	font-weight: 500;
	min-width: 200px;
	max-width: 250px;
	width: 100%;
	color: rgba(150, 29, 29, 0.945);
	font-family: 'Yellowtail', cursive;
	letter-spacing: 1.5px;
	position: absolute;
	top: 10%;
	right: -5%;
	transform: rotate(-3deg);
	translate: all 1s;
}

.work-pages-all{
	max-width: 1400px;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
}

.work-pages {
	max-width: 1300px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 7rem;
	transition: all 0.6s;
	padding-bottom: 2rem;
}

.work-page {
	margin: 0 2vw;
	margin-top: 2rem;
	border: 1px solid #ddd;
	background-color: #fff;
	position: relative;
	flex: 18% 0 0;
	padding:1.4rem;
	transition: all 0.5s;
	
}
.page-1{
	max-width: 230px;
	height: 330px;
	cursor: pointer;
}
.page-2{
	max-width: 250px;
	height: 300px;
	margin: 0 0.5rem!important;
	padding:0.8rem!important;
	cursor: pointer;
}

.work-page:hover{
	box-shadow: 2px 2px 6px #ccc;
}
.work-page .page-conts{
	text-align: right;
}


.page-1 .page-img {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 5%;
	left: -30%;
	transition: all 0.3s;
	cursor: pointer;
}

.page-1 .page-tit {
	letter-spacing: -1.5px;
	font-weight: bold;
}
.page-2 .page-tit {
	letter-spacing: -1.5px;
	font-weight: bold;
	margin-top: 2.5rem;
}

.page-1 .page-colors {
	display: flex;
	align-items: center;
	justify-content: space-between;	
	position: absolute;
	left: 0; right: 0;
	bottom: 3%;
	padding:0.5rem 1rem;

}
.page-1 .color {
	width: 70px;
	height: 30px;
}

.page-2 .page-img {
	width: 100%;
	height: 200px;
	transition: all 0.3s;}

.work3 .pagers {
	position: absolute;
	width: 50px;
	height: 60px;
	color: #999;
	font-size: 2rem;
	padding: 10px;
	font-weight: bold;
	bottom: 12%;
	left: 0; right: 0;
	margin: 0 auto;
	transform: rotate(90deg);
	transition: all 0.5s;
	cursor: pointer;
	text-align: center;
}

.work3 .pagers div{
	transition: all 0.3s;
	text-align: center;
}


.work3 .cont-desc {
	font-weight: 300;
	font-size: 1rem;
	transition: all 1s;
}

.work3 .side-rot-flower {
	transform: rotate(-10deg);
	transition: all 5s;
}

.work3 .si1 {
	position: absolute;
	max-width: 315px;
	max-height: 600px;
	width: 100%;
	height: 100%;
	top: 30%;
	right: 0%;
	overflow: hidden;
}

.work3 .si1 .pic2 {
	max-width: 300px;
	width: 50vw;
	position: relative;
	z-index: 98;
	top: 5%;
	right: -45%;
}

.work3 .si1 .pic1 {
	max-width: 310px;
	width: 60vw;
	position: absolute;
	z-index: 99;
	top: 5%;
	right: -12%;
}

.work3 .si2 {
	position: absolute;
	max-width: 270px;
	max-height: 180px;
	width: 100%;
	height: 100%;
	top: 15%;
	left: 4%;
	overflow: hidden;
}

.work3 .si2 .pic1 {
	max-width: 240px;
	width: 40vw;
	position: absolute;
	z-index: 99;
	top: 10%;
	left: 10%;
}
.work3 .popups {transition: all 0.7s;
	position: absolute; z-index: 99998;
	width: 120%; height: 100%; top: 0; left: -10%; border: 1px solid #000;
}

.work3 .popup-back {
	background-color: rgba(0, 0, 0, 0.527); z-index: 99998;
	width: 100%; height: 100%;
	cursor: url(../img/close.cur), pointer;
}

.work3 .popup {opacity: 0;
	position: absolute; background-color: rgb(255, 255, 255); z-index: 99999;
	width: 65%; height: 85%; top: 80px; bottom: 0; left: 0; right: 0; margin: auto;
}

.work3 .pop-up {opacity: 0; transition: all 0.4s; z-index: 99999; position: absolute;
	width: 100%; height: 100%; padding: 4rem; background-color: rgb(255, 255, 255);
	top: 0; bottom: 0; left: 0; right: 0; margin: auto; 
	cursor: url(../img/flower.cur), pointer;
}



/* 연락 */
.contact4 {
	position: relative;
	width: 100%;
	height: 100%;
}



.contact4 .contact-all {
	padding: 2rem 3rem;
	z-index: 999;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ddd
}

.contact4 .contact-all  {
	width: 100%
}

.contact-flex{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.cont-NE{
	padding-bottom: 1rem;
 border-bottom: 1.2px dashed #ccc;
 margin-bottom: 1rem!important;
}

.contact4 .cont-mails {
	width: 100%;
	margin-right: 1rem;
}

.contact4 .cont-mail {
	margin-bottom: 1rem;
}

.contact4 .cont-infors {
	width: 80%;
}

.contact4 .infor-num {
	width: 100%;
	border: 1px solid #eee;
	padding: 1.5rem;
	margin-bottom: 1rem;
}

.contact4 .infor-addr {
	width: 100%;
	border: 1px solid #eee;
	padding: 1.5rem;
}

.contact4 .send-bts {
	text-align: right;
	margin-top: 1rem;
}

.contact4 .send-bts button {
	margin-left: 0.5rem;
}

.contact4 .contact-tit {
	font-size: 5rem;
	font-weight: 500;
	color: #578f6a;
	font-family: 'Yellowtail', cursive;
	letter-spacing: 1.5px; margin: 5.5rem auto;
}
.contact4 .contact-sides{
	width: 100%; height: 100%; position: absolute;
}

.contact4 .contact-sides img {
	width: 90%;
}

.contact4 .side-lt,
.contact4 .side-rt {
	position: absolute;
}

.contact4 .side-lt {
	left: -3%;
}

.contact4 .side-rt {
	right: 0%;
}

#side-lt1-0 {
	top: 40%;
	left: -2%;
	z-index: -1;
}

#side-lt1-1 {
	top: 5%;
	z-index: -1;
}

#side-lt1-2 {
	top: 5%;
	left: -7%;
	z-index: -2;
}

#side-lt2 {
	bottom: -7%;
	left: -3%;
	transform: rotate(10deg);
	z-index: -2;
}

#side-rt1-1 {
	bottom: 30%;
	z-index: -1;
	right: 0%;
	transform: rotate(-15deg);
	
}

#side-rt1-2 {
	top: 5%;
	right: -7%;
	z-index: -2;
}

#side-rt2-1 {
	bottom: -5%;
	right: 10%;
	z-index: -1;
}

#side-rt2-2 {
	bottom: 0%;
	right: -8%;
	z-index: -2;
}

.bt-top {
	position: fixed;
	border-radius: 50%;
	background-color: #aaa;
	bottom: -4.5rem;
	right: 1.6rem;
	z-index: 999;
	color: white;
	transition: all 0.5s;
	cursor: pointer;
	padding: 1rem 1.5rem 1rem 1.5rem;
}

.bt-top:hover {
	background-color: #ee705f;
	padding: 0.8rem 1.5rem 1.2rem 1.5rem;
}

.bt-top-show {
	bottom: -3rem;
	transform: translateY(-5rem)
}


/* 576 ~ 767 - sm - 스마트폰 가로 */
@media screen and (min-width: 300px) and (max-width: 576px) {
.main1 .tops {width: 100%; text-align: center; margin: 0 auto;}
.main1 .logo-white {width: 100%;margin: 0 auto; padding-right: 30px;}
.main1 .hello {bottom: -25%; margin: 0 auto; width: 100%; left: 0; font-size: 4vw;}
.main-indexs {max-width: 300px; width: 90%; margin: 0 auto; left: 0; right: 0;}
.main-index {text-align: center;}
.main-indexs .index-tit {font-size: 5vw; width: 50px; font-weight: bold;}
.main-indexs .index-line {margin-top: 0.5rem; width: 50px; height: 2px; background-color: #FFF; transition: all 0.6s;}
.main-indexs .index-sub {font-size: 2vw; margin-top: 0.5rem;}
.bt-prev {left: 5px;}
.bt-next {right: 5px;}
.main-bars { bottom: 10%; }
.navis-wrap .logo-white {margin: 2vh 1rem 5vh 1rem;}
.navis-hidden .navs {margin: 2rem 0;}
.navis-hidden .navis{padding-top: 1rem;}

/* 768 ~ 991 - md - 태블릿 세로 */
@media screen and (max-width: 768px) {
}

/* 992 ~ 1199 - lg - 태블릿 가로 */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.aboutme2 .title {margin-bottom: 2vh}
	.about-pr {display: none;}
	.aboutme2 .me-1-2 {display: block; text-align: center;}
	.aboutme2 .me-1 {max-width: 600px;}
	.aboutme2 .me-1 .about-cont {	display: flex;
		align-items: flex-end;
		justify-content: space-evenly;}
	.aboutme2 .me-2 {text-align: left;}
	.about-illu {display: none;}
	.about-main .cont {margin-bottom: 0; margin-right: 1rem;}
	.about-main {width: 100%;}
	.aboutme2  .about-skill-prog {height: 100%;}
	.work-pages-all {	height: 380px;}
	.work3 .works-tit {margin: 4vh auto 4vh auto;}
	.work-page {flex: 50% 0 0; margin-top: 0; margin: 0 5vw;}
	.work-pages{margin-bottom: 5rem;}
	.contact4 .contact-sides img {
		width: 50%;
	}
	#side-rt1-1 {right: -30%;}
	#side-rt1-2 {right: -47%;}
	#side-rt2-2 {right: -47%;}

}
/* 1200 ~ - xl - PC */
@media screen and (min-width: 991px) and (max-width: 1300px) {
	.aboutme2 .title {margin-bottom: 2vh}
	.work3 .works-tit {margin: 4vh auto 4vh auto;}
	.work-pages-all {	height: 400px;padding: 1.6rem;}
	.page-1{height: 300px;}
	.page-1 .page-img {
		width: 100px;
		height: 100px;}
	.page-1 .page-tit {font-size: 2vw;}
	.work-pages{margin-bottom: 5rem;}
	#side-rt1-1 {right: -10%;}
	#side-rt1-2 {right: -17%;}
	#side-rt2-2 {right: -17%;}
	.contact4 .contact-sides img {
		width: 75%;
	}
}
	


	





/* 애니메이션 */

.wrap-img {
	animation-name: wrapImg;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: right top;
}


.side-left-ani1-1 {
	animation-name: leftAni1-1;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: left bottom;
}

.side-left-ani1-2 {
	animation-name: leftAni1-2;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: left bottom;
}

.side-right-ani1-1 {
	animation-name: rightAni1-1;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: right bottom;
}

.side-right-ani1-2 {
	animation-name: rightAni1-2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: right bottom;
}

.side-right-ani2-1 {
	animation-name: rightAni2-1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: right bottom;
}

.side-right-ani2-2 {
	animation-name: rightAni2-2;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: right bottom;
}

.side-left-ani2 {
	animation-name: leftAni2;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: center bottom;
}

@keyframes wrapImg {
	0% {
		transform: rotate(7deg);
	}

	50% {
		transform: rotate(10deg);
	}

	100% {
		transform: rotate(5deg);
	}
}

@keyframes leftAni1-1 {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(5deg);
	}

	100% {
		transform: rotate(-2deg);
	}
}

@keyframes leftAni1-2 {
	0% {
		transform: rotate(15deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes rightAni1-1 {
	0% {
		transform: rotate(4deg);
	}

	50% {
		transform: rotate(-4deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes rightAni1-2 {
	0% {
		transform: rotate(3deg);
	}

	50% {
		transform: rotate(-3deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes rightAni2-1 {
	0% {
		transform: rotate(3deg);
	}

	100% {
		transform: rotate(-2deg);
	}
}

@keyframes rightAni2-2 {
	0% {
		transform: rotate(-5deg);
	}

	100% {
		transform: rotate(0deg);
	}

}

@keyframes leftAni2 {
	0% {
		transform: rotate(-6deg);
	}

	100% {
		transform: rotate(2deg);
	}
}