/* 공통사항 */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400|800|Noto+Sans:700&display=swap');

body {
	height: 100%;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 800;
	overflow-x:hidden;
}

.wrap {
	margin: 0 auto;
	width: 100%;
	max-width: 1100px;
}

.mn-tit {
	letter-spacing: 3px;
	font-size: 2rem;
	color: #333;
	font-weight: 800;
}

.sub-tit {
	color: #888;
	font-size: 1rem;
	padding: 15px 0px;
	font-weight: 800;
}

.bt-top {position:fixed; border-radius: 50%; background-color: brown; bottom: -4.5rem; right: 1.6rem; z-index: 9999; color: white; transition: all 0.5s; cursor: pointer; padding: 1rem 1.5rem 1rem 1.5rem; }
.bt-top:hover {background-color: rgb(196, 86, 86); padding:0.8rem 1.5rem 1.2rem 1.5rem;}
.bt-top-show {bottom: -3rem; transform: translateY(-5rem)}



/* tops */
.phone-bar {
 cursor: pointer;	width: 40px; padding: 5px 7px; text-align: center; top: 15%;	position: absolute; right: 4%;  z-index: 99999; font-size: 1.5rem; color: #FFF; 
}
.nav-phone {opacity: 0; color: #FFF; text-align: right; padding: 1rem; 
	position: absolute; right: 20px; top: 0%; font-size: 1.1rem; z-index: 99998;
transition: all 0.5s;
}
.nav-phone li {margin-bottom: 2rem; transition: all 0.5s; text-shadow: 1px 1px 6px #000;}
.nav-phone li:hover {transform: scale(1.1); font-weight: bold;}


.main1 {position: relative;}

.tops {
	background-color: rgba(0, 0, 0, 0.473);
	color: rgb(255, 255, 255);
	position: absolute;
	width: 100%;
	z-index: 9999;
}


.LOGO {width: 250px; padding: 0.875rem 1.5rem; cursor: pointer;}

.navi-bar {
	display: none; display: flex; justify-content: space-between; align-items: center;
}

.navis { font-weight: 800; display: none;
  justify-content: space-evenly; align-items: flex-start;  width: 60%;
 margin-top: 2rem; padding: 0 0 2rem 0; text-align: center; 
 position: absolute; top: 0; left: 20%; z-index: 99999;
}

.navi, .icon, .icon-eng {cursor: pointer;transition: all 0.3s; }

.icon:hover, .icon-eng:hover {opacity: 0.8;}

.sub-navi {margin-top: 4rem; width: 130px; visibility: hidden; opacity: 0; transition: all 0.3s; z-index: 99999;}

.icons {
	display: none; justify-content: space-evenly; align-items: center; width: 15%; 
}
.subs {
	width: 1200px; height: 340px; padding: 1.5rem 2rem; background-color: rgba(255, 255, 255, 0.932); position: absolute; 
	left: -2%; top: 12.5%; color: #333; box-shadow: 2px 2px 5px rgba(0,0,0,0.5); 
	z-index:0; text-align: center;
	visibility: hidden; opacity: 0; transition: all 0.3s;
}

.navi {position: relative;}

.angle {
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid #000;
	position: absolute; top:28px; left: 42%;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(255, 255, 255, 0.932);
	border-left: 10px solid  transparent;
	visibility: hidden; opacity: 0
}

	.sub-navi a {text-decoration: none; margin-bottom: 0.85rem; display: inline-block; font-size: 0.95rem;  transition: all 0.3s;}
	.sub-navi a:link,
	.sub-navi a:visited,
	.sub-navi a:active {color: rgba(0, 0, 0, 0.623);}
	.sub-navi a:hover {color: #a12e00; transform: scale(1.1);}

	.phone-banners {height: 100%;}
.phone-banner {background: url("../img/main_visu01.jpg") no-repeat top center;
								background-size: cover;
	min-height: 800px; height: 100%; width: 100%;}
.phone-tit {position: absolute; top: 30%; width: 100%;}

.banners {display: none; overflow: hidden; position: relative; max-height: 850px; width: 100%;}

.bans {position: relative; display: flex;}


.ban {position: relative; flex: 100% 1 1; height: 100%;}

.ban .ban-tit {position: absolute; top: 25%; left: 0; text-align: center; z-index: 0; height: 300px; width: 100%;}


.ban .ban-tit {position: absolute; top: 35%; left: 0; text-align: center; z-index: 0; height: 30%; margin:auto; width: 100%;}
.ban-tit img {height: 100%;}

.pagers {display: none; position: absolute; bottom: 5%; justify-content: space-evenly; width: 180px;
	left: 0; right: 0; margin: auto; z-index: 9999;} 
.pager {width: 17px; height: 17px; background-color: rgba(0, 0, 0, 0.473); border-radius: 50%;
	 cursor: pointer; color: #222; transition: all 0.3s; border: 1.5px solid rgba(255, 255, 255, 0.651);}
.pager.active {background-color: brown; width: 25px; height: 17px; border-radius: 15px;}

.fix-icons {display: none; position: fixed; top: 30%; left: 1%; text-align: center; font-size: 0.75rem; color: #444;}
.fix-icon {background-color: rgba(255, 255, 255, 0.801); border: 3px solid #a11800d7; border-radius: 5px;}
.fix-icon img {width: 50px;  transition: all 0.5s;}
.fix-icon .fixi {padding: 1rem 0.5rem; transition: all 0.5s;}
.fix-icon .fixi:hover img {filter: brightness(0.7);}
.fix-icon .fixi:hover { color: black;}
.fix-icon .fixi:not(:last-child) {border-bottom: 1px dashed #bbb;}


.squer { display: none;
 max-width:380px; min-width: 330px;
	flex: 100% 0 0; width: 100%; height: 550px;
	position: absolute;
	background-color: brown;
	right: 0%; bottom: -180px;
	color: white;
	padding: 3rem 2rem;
	font-size: 2rem;
	line-height: 2.5rem;
	font-weight: 800;
}
.squer:last-child {
	font-size: 1.5rem; }

.squer .tit-1 {margin-bottom: 10rem;}
.squer .tit-2 i { position: absolute; right: 10%; bottom: 6%; transition: color 0.3s;}
.squer .tit-2 i:hover {color: rgba(255, 255, 255, 0.685);}

.s-logo {
	width: 80px;
	position: absolute;
	right: 8%; top: 6%;
	opacity: 0.7;
}

.band {
flex: 100% 0 0; padding-bottom: 2rem; 
}


.bands {margin-bottom: 5rem; flex: 100% 0 0;}


.band-main { text-align: left; width:100%; padding: 0 5vw; margin-top: 6rem;}

.band-squre { width: 100%; height: 100%; position: relative;}

.main-imgs { height: 100%; width: 100%; font-size: 1rem; padding: 0 1rem;}
.main-imgs .photo  {width: 100%; margin: 1rem auto; border: 1px solid #ddd; padding: 0.3rem; text-align: center; transition: all 0.5s;}
.main-imgs .photo img  { display: none;}
.main-imgs .photo:hover  { box-shadow: 3px 3px 4px rgba(51, 51, 51, 0.226);}
.main-imgs .photo:hover img  { filter: brightness(0.9); }
.main-imgs .photo .post-tit {line-height: 3rem;}



.main-bts {background-color: rgba(255, 255, 255, 0.425); padding: 0.5rem 0; width: 100%; display: flex; justify-content:space-around; align-items: center; font-size: 3vw; line-height: 4rem;
	color: #777; font-weight: 400; text-align: center; position: absolute; color: #FFF; bottom:15vh}
.main-bt { width: 100%; border-top: 2px solid #FFF; border-bottom: 2px solid #FFF; margin: 0 1vw;}
.main-bt:hover {color: black; font-weight: bold;}

/* 맵 */
.maps { border: 1px solid #ddd; padding: 3rem; width: 100%; text-align: center;}
.maps-title {text-align: center; margin: 0 auto; margin-top: 6rem;}
.map {flex: 100% 0 0}
.map img { width: 100%;}
/* 주최 */

.spons {display: flex; justify-content:space-between; align-items: center; border-top: 1px solid #888; line-height: 6.5rem;}
.spons > div{overflow: hidden; min-width: 80px; width: 100%; text-align: center;}
.spons span {padding-left: 0.7rem;min-width: 100px; }
.spons-imgs {width: 100%; display: flex; justify-content:right; align-items: center;}
.spons-imgs div {width: 100%;}

.newsletter {width: 100%; height: 300px; background-color: rgba(24, 24, 24, 0.39); padding: 2rem; text-align: center;}
.mail-bt {display: flex; justify-content:space-between; align-items: flex-start; width: 100%; margin: 0 auto;
background-color: white; border: 1px solid #999; padding: 1rem; border-radius: 5px;}

.mail-bt .btn { background-color: rgb(202, 76, 72); color: white; transition: all 0.5s;}
.mail-bt .btn:hover { background-color: brown; color: white;}


/* 576 ~ 767 - sm - 스마트폰 가로 */
@media screen and (min-width: 576px) {
	.navi-bar { display: flex;}
	.main-imgs { display: flex; align-items: flex-start; justify-content: space-between; }
	.main-imgs .photo  {margin: 0 0.5rem;}
	.main-imgs .photo .post-tit {width: 27vw; padding: 0 1rem; margin: 0 auto; overflow:hidden; 
		text-overflow:ellipsis; white-space:nowrap; word-wrap:break-word; word-break:break-all;}
	.maps {display: flex;}
	.map {flex: 49% 0 0;}
	
}
/* 768 ~ 991 - md - 태블릿 세로 */
@media screen and (min-width: 768px) {
	.LOGO { width: 300px;}
	.navi-icon { top: 3%;}
	.main-imgs .photo img {display: block;}
	.main-imgs .photo .post {width: 100%; max-height: 400px; overflow: hidden;}
	.main-imgs .photo {width: 100%;}
	.main-imgs {padding: 0; width: 100%;}
}
/* 992 ~ 1199 - lg - 태블릿 가로 */
@media screen and (min-width: 992px) {
	.main-bts {display: none;}
	.banners { display: block;}
	.pagers { display: flex;}
	.phone-banner { display: none;}
	.fix-icons {display: flex;}
	.navis {display: none;}
	.icons {display: none}
	.ban-tit {max-height: 300px;}
	.band { margin-top: 8rem;
		 padding-bottom: 2rem; 
		}
	.maps-title { margin-top: 8rem;}
	
}
/* 1200 ~ - xl - PC */
@media screen and (min-width: 1300px) {
	.nav-phone {display: none;}
	.fix-icons {display: flex;}
	.navis {display: flex;}
	.phone-banners {display: none;}
	.phone-bar {display: none;}
	.icons {display: flex;}
	.navi-icon {display: none;}
	.squer {display: block; }
	.main-imgs .photo .post-tit {width: 100%; max-width: 400px;}
	.pagers { display: flex;}
	.ban-tit {top: 25%!important;}
	.map {flex: 45% 0 0; margin: 0 auto;}
	.maps-title { margin-top: 10rem;}
	.band { margin-top: 10rem;
		display: flex; justify-content:space-between; align-items: flex-start; 
		}
	.band-main {padding-left: 1.5rem; padding-right: 0;}
}
